<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Business Shower</title>
    <link rel="shortcut icon" href="~/assets/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/assets/fonts/Inter-VariableFont_slnt%2cwght.ttf">
    <link rel="stylesheet" href="~/assets/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      @@media only screen and (max-width: 600px) {
        .menu__logo {
            width:50%
        }
        .navbar {
            position: fixed !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: linear-gradient(180deg, #e6f5ff 0%, #fff 100%);
        }
}
    </style>
</head>

<body>
    <!-- GoUp START -->
    <button id="topBtn"><i class="fa fa-arrow-up"></i></button>
    <!-- GoUp END -->

    <div class="hero__banner-bg" >
        <!-- Navbar START -->

        <nav class="navbar navbar-expand-lg navbar-light menu global__transparent" style="       ">
            <div class="container p-sm-0">
                <a class="navbar-brand menu__logo" href="@Url.Action("Index","Home")">
                    <img class="menu__logo-img"src="~/assets/assets/img/Logo.png" alt="logo">

                </a>
                <button class="navbar-toggler menu__toggle" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto menu__list my-3 my-lg-0">

                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("works","Home")">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("about","Home")">About us</a>
                        </li>
                 

                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("blogs","Home")">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("contact","Home")">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle menu__list-link" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Others
                            </a>
                            <ul class="dropdown-menu menu__list-dropdown--ul" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("privacy","Home")">Privacy</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("legal","Home")">Legal</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Faqs","Home")">FAQ</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("career","Home")">Careers</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-sm-flex d-lg-block gap-4 mt-3 mt-lg-0">
                        <a href="@Url.Action("sign_in","Account")" class="btn menu__btn menu__btn-in mb-3 mb-lg-0">
                            Sign
                            in
                        </a>
                        <a href="@Url.Action("sign_up","Account")" class="btn menu__btn menu__btn-up mb-3 mb-lg-0">
                            Sign
                            up
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Navbar END -->

    </div>

    @RenderBody()


    <!--  Join_US START -->

    <div class="join">
        <div class="container p-sm-0">
            <div class="row">
                <div class="card join__card">
                    <img src="~/assets/assets/img/banner-3.png" class="img-fluid join__card-img" alt="image">
                    <div class="card-img-overlay join__card-layer">
                        <div class="col-11 col-md-7">
                            <h5 class="join__heading global__heading">
                                Join Your hand with us for a better life and
                                future
                            </h5>
                            <form action="#" method="POST" >
                                <div class="row">
                                    <div class="col-md-6 mt-2">
                                        <input class="col-md-6 footer__inp form-control" type="text" placeholder="Enter your first name">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input class="col-md-6 footer__inp form-control" type="text" placeholder="Enter your last name">
                                    </div>
                                    <div class="col-md-12 mt-2"> <input class="footer__inp form-control" type="text" placeholder="Enter your email"></div>
                                </div>



                                   
</form>

                            <button class="global__btn mt-4">Subscribe to a newsletter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Join_US END -->
    <!--  Footer START -->

    <div class="footer">
        <div class="container p-sm-0">
            <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <a href="@Url.Action("Index","Home")">
                        <img class="img-fluid" src="~/assets/assets/img/logo.png" alt="logo" style="width:25%">
                    </a>
                    <p class="global__desc footer__desc">
                        sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore sed do
                        eiusmod.
                    </p>
                    <div class="footer__social">
                        <ul class="footer__social-ul">
                            <li>
                                <a class="footer__social-link" href="https://www.facebook.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="https://linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="https://www.instagram.com/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 d-md-flex justify-content-center my-5 my-md-0">
                    <div class="">
                        <h4 class="footer__sub">Our Company</h4>
                        <ul class="footer__list">
                            <li>
                                <a class="footer__list-item" href="@Url.Action("about","Home")">
                                    About us
                                </a>
                            </li>

                            <li>
                                <a class="footer__list-item" href="@Url.Action("blogs","Home")">
                                    Blogs
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("career","Home")">
                                    Career
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("contact","Home")">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-5 mb-md-0 mt-md-5 mt-lg-0">
                    <div class="">
                        <h4 class="footer__sub">Learn more</h4>
                        <ul class="footer__list">
                            <li>
                                <a class="footer__list-item" href="@Url.Action("works","Home")">
                                    How it works
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("faqs","Home")">
                                    FAQ
                                </a>
                            </li>
                           
                            <li>
                                <a class="footer__list-item" href="@Url.Action("privacy","Home")">
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("legal","Home")">
                                    Legal
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mt-md-5 mt-xl-0">
                    <h4 class="footer__sub">Subscribe Newsletter</h4>
                    <p class="global__desc footer__desc">
                        Join our newsletter to stay updated about our latest news
                        and
                        articles.
                    </p>
                    <form action="#" method="POST" class="d-flex position-relative">
                        <input class="footer__inp form-control" type="text" placeholder="Enter your email">
                        <button class="global__btn footer__inp-btn">Subscribe</button>
                    </form>
                </div>
            </div>
            <hr class="footer__border">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="footer__bottom">Copyright © 2023 my Business Shower</p>
                </div>
            </div>
        </div>
    </div>

    <!--  Footer END -->
    <!-- Jquary -->
    <script src="~/assets/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Venobox -->
    <script src="~/assets/assets/js/venobox.min.js"></script>
    <!-- Counter JS -->
    <script src="~/assets/assets/js/waypoints.min.js"></script>
    <script src="~/assets/assets/js/jquery.counterup.min.js"></script>
    <!-- Slick JS -->
    <script src="~/assets/assets/js/slick.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Aos JS -->
    <script src="~/assets/assets/js/aos.js"></script>
    <!-- JS -->
    <script src="~/assets/assets/js/app.js"></script>
</body>

</html>