<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Business Shower</title>
    <link rel="shortcut icon" href="~/assets/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/assets/fonts/Inter-VariableFont_slnt%2cwght.ttf">
    <link rel="stylesheet" href="~/assets/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      @@media only screen and (max-width: 600px) {
        .menu__logo {
            width:50%
        }
        .navbar {
            position: fixed !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: linear-gradient(180deg, #e6f5ff 0%, #fff 100%);
        }
}

        ul.a {
            list-style-type: circle;
        }
    </style>

    @{ 
        string twitter = "";
        string facebook="";
        string insta = "";
        string linkdin = "";
        HttpCookie cookieObj1 = Request.Cookies["Footer"];
        if (cookieObj1 != null)
        {
            twitter = @cookieObj1["Twitter"];
            facebook = @cookieObj1["Facebook"];
            insta = @cookieObj1["Instagram"];
            linkdin = @cookieObj1["Linkdin"];


        }
    }
</head>

<body>
    <!-- GoUp START -->
    <button id="topBtn"><i class="fa fa-arrow-up"></i></button>
    <!-- GoUp END -->

    <div class="hero__banner-bg" >
        <!-- Navbar START -->

        <nav class="navbar navbar-expand-lg navbar-light menu global__transparent" style="       ">
            <div class="container p-sm-0">
                <a class="navbar-brand menu__logo" href="@Url.Action("Index","Home")">
                    <img class="menu__logo-img"src="~/assets/assets/img/Logo.png" alt="logo">

                </a>
                <button class="navbar-toggler menu__toggle" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto menu__list my-3 my-lg-0">

                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("works","Home")">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("about","Home")">About us</a>
                        </li>
                 

                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("blogs","Home")">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__list-link" href="@Url.Action("contact","Home")">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle menu__list-link" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Others
                            </a>
                            <ul class="dropdown-menu menu__list-dropdown--ul" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("privacy","Home")">Privacy</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("legal","Home")">Legal</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Faqs","Home")">FAQ</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("career","Home")">Careers</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-sm-flex d-lg-block gap-4 mt-3 mt-lg-0">
                        <a href="@Url.Action("sign_in","Account")" class="btn menu__btn menu__btn-in mb-3 mb-lg-0">
                            Sign
                            in
                        </a>
                        <a href="@Url.Action("sign_up","Account")" class="btn menu__btn menu__btn-up mb-3 mb-lg-0">
                            Sign
                            up
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Navbar END -->

    </div>

    @RenderBody()


    <!--  Join_US START -->

    <div class="join">
        <div class="container p-sm-0">
            <div class="row">
                <div class="card join__card">
                    <img src="~/assets/assets/img/banner-3.png" class="img-fluid join__card-img" alt="image">
                    <div class="card-img-overlay join__card-layer">
                        <div class="col-11 col-md-7">
                            <h5 class="join__heading global__heading">
                                Unite Your Hands with Us for a Better Life and Future
                            </h5>
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-md-6 mt-2">
                                        <input class="col-md-6 footer__inp form-control" type="text" placeholder="Enter Your First Name" id="subs_Firstname">
                                        <div class="">

                                            <span class="sign__text sign__text-email--required text-danger" style="display:none" id="text-Firstname">
                                                First Name
                                                is
                                                required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input class="col-md-6 footer__inp form-control" type="text" placeholder="Enter Your Last Name" id="subs_Lastname">
                                        <div class="">

                                            <span class="sign__text sign__text-email--required text-danger" style="display:none" id="text-Lastname">
                                                Last Name
                                                is
                                                required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2"> <input class="footer__inp form-control" type="text" placeholder="Enter Your Email" id="subs_email"></div>
                                    <div class="">
                                        <span class="sign__text sign__text-email text-danger" style="display:none" id="text-semail1">
                                            Email must
                                            be
                                            valid
                                        </span>
                                        <span class="sign__text sign__text-email--required text-danger" style="display:none" id="text-semail">
                                            Email
                                            is
                                            required
                                        </span>
                                    </div>
                                </div>




                            </form>
                            <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert1" role="alert">
                                <strong>Success! </strong> Your message has been sent. Thank you!
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="FailureAlert1" role="alert">
                                <strong>Alert! </strong> There is something issue. Please Try again.<br> Thank you!
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <button class="global__btn mt-4" type="button" id="btnsendSubscribe" onclick="sendSubscription()">
                                Subscribe to Our Newsletter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Join_US END -->
    <!--  Footer START -->

    <div class="footer">
        <div class="container p-sm-0">
            <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <a href="@Url.Action("Index","Home")">
                        <img class="img-fluid" src="~/assets/assets/img/logo.png" alt="logo" style="width:25%">
                    </a>
                    <p class="global__desc footer__desc">
                        Our Crowdfunding
                        Platform Empowers
                        Businesses by
                        Collecting Donations
                        from Family, Friends,
                        and Supporters
                    </p>
                    <div class="footer__social">
                        <ul class="footer__social-ul">
                            <li>
                                <a class="footer__social-link" href="@facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="@linkdin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="@insta">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer__social-link" href="@twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 d-md-flex justify-content-center my-5 my-md-0">
                    <div class="">
                        <h4 class="footer__sub">Our Company</h4>
                        <ul class="footer__list">
                            <li>
                                <a class="footer__list-item" href="@Url.Action("about","Home")">
                                    About us
                                </a>
                            </li>

                            <li>
                                <a class="footer__list-item" href="@Url.Action("blogs","Home")">
                                    Blogs
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("career","Home")">
                                    Career
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("contact","Home")">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-5 mb-md-0 mt-md-5 mt-lg-0">
                    <div class="">
                        <h4 class="footer__sub">Learn More</h4>
                        <ul class="footer__list">
                            <li>
                                <a class="footer__list-item" href="@Url.Action("works","Home")">
                                    How it works
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("faqs","Home")">
                                    FAQ
                                </a>
                            </li>
                           
                            <li>
                                <a class="footer__list-item" href="@Url.Action("privacy","Home")">
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a class="footer__list-item" href="@Url.Action("legal","Home")">
                                    Legal
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mt-md-5 mt-xl-0">
                    <h4 class="footer__sub">Subscribe</h4>
                    <p class="global__desc footer__desc">
                        Subscribe to Our Newsletter for the Latest
                        Updates on News and Articles.
                    </p>
                    <form action="#" method="POST" class="d-flex position-relative">
                        <input class="footer__inp form-control" type="text" placeholder="Enter your email" id="subs_email1">

                        <button class="global__btn footer__inp-btn" type="button" id="btnsendSubscribe1" onclick="sendSubscription1()">Subscribe</button>
                    </form>
                    <div class="">
                        <span class="sign__text sign__text-email text-danger" style="display:none" id="text-semail121">
                            Email must
                            be
                            valid
                        </span>
                        <span class="sign__text sign__text-email--required text-danger" style="display:none" id="text-semail12">
                            Email
                            is
                            required
                        </span>
                    </div>
                    <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert12" role="alert">
                        <strong>Success! </strong> Your message has been sent. Thank you!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="FailureAlert12" role="alert">
                        <strong>Alert! </strong> There is something issue. Please Try again.<br> Thank you!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <hr class="footer__border">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="footer__bottom">Copyright © 2023 my Business Shower</p>
                </div>
            </div>
        </div>
    </div>

    <!--  Footer END -->
    <!-- Jquary -->
    <script src="~/assets/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Venobox -->
    <script src="~/assets/assets/js/venobox.min.js"></script>
    <!-- Counter JS -->
    <script src="~/assets/assets/js/waypoints.min.js"></script>
    <script src="~/assets/assets/js/jquery.counterup.min.js"></script>
    <!-- Slick JS -->
    <script src="~/assets/assets/js/slick.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Aos JS -->
    <script src="~/assets/assets/js/aos.js"></script>
    <!-- JS -->
    <script src="~/assets/assets/js/app.js"></script>

    <script>
        function sendSubscription()
        {
            var i = 0;
            var Fname = $("#subs_Firstname").val();
            var Lname = $("#subs_Lastname").val();
            var email = $("#subs_email").val();

            $("#subs_Firstname").removeClass("is-invalid");
            $("#subs_email").removeClass("is-invalid");
            $("#subs_Lastname").removeClass("is-invalid");


            //$("#text-Firstname").fadeOut();
            //$("#text-semail").fadeOut();
            //$("#text-Lastname").fadeOut();
            $("#text-semail1").fadeOut();


            if (Fname.trim() == "" ) {
                //$("#text_Firstname").fadeIn();
                $("#subs_Firstname").addClass("is-invalid");
                i = 1;
            }
            if (Lname.trim() == "") {
               // $("#text-Lastname").fadeIn();
                $("#subs_Lastname").addClass("is-invalid");
                i = 1;
            }
            if (email.trim() == "" ) {
               // $("#subs_email").fadeIn();
                $("#subs_email").addClass("is-invalid");
                i = 1;
            }





                var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (!expr.test(email)) {
                    $("#text-semail1").fadeIn();
                    $("#subs_email").removeClass("is-valid");
                    i = 1;
                }



            if (i == 0) {

                document.getElementById("btnsendSubscribe").innerHTML = " <img id='LoginLoader' style='Width: 34px!important; height: 30px!important' src='/assets/assets/img/loaders.gif' /> &nbsp; Please Wait...";
                document.getElementById("btnsendSubscribe").style.backgroundColor = 'black';
                document.getElementById("btnsendSubscribe").style.borderColor = "black";
                document.getElementById("btnsendSubscribe").disabled = true;
                document.getElementById("btnsendSubscribe").style.boxShadow = "0 0.125rem 0.25rem 0 rgb(0,0,0)";



                var UserInfo = {};
                UserInfo.email = email;
                UserInfo.name = Fname +" "+Lname;


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Subscribe", "Home")',
                    data: JSON.stringify(UserInfo),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        if (result.status == "1") {
                            $("#SuccessAlert1").show();
                            $("#FailureAlert1").hide();
                        }
                        else {
                            $("#SuccessAlert1").hide();
                            $("#FailureAlert1").show();
                        }


                        document.getElementById("btnsendSubscribe").innerHTML = "Subscribe to Our Newsletter";
                        document.getElementById("btnsendSubscribe").style.backgroundColor = '#47b2e4';
                        document.getElementById("btnsendSubscribe").style.borderColor = "#47b2e4";

                        document.getElementById("btnsendSubscribe").disabled = false;

                        $("#subs_Firstname").val("");
                        $("#subs_Lasttname").val("");
                        $("#subs_email").val("");
                    }
                });
            }
        }


         function sendSubscription1()
        {
            var i = 0;
             var email = $("#subs_email1").val();

            $("#subs_email1").removeClass("is-invalid");
              $("#text-semail121").fadeOut();
              $("#text-semail12").fadeOut();


           
            if (email.trim() == "" ) {
                $("#subs_email12").fadeIn();
                $("#subs_email1").addClass("is-invalid");
                i = 1;
            }





                var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (!expr.test(email)) {
                    $("#text-semail121").fadeIn();
                    $("#subs_email1").removeClass("is-valid");
                    i = 1;
                }



            if (i == 0) {

                document.getElementById("btnsendSubscribe1").innerHTML = " <img id='LoginLoader' style='Width: 34px!important; height: 30px!important' src='/assets/assets/img/loaders.gif' /> &nbsp; Please Wait...";
                document.getElementById("btnsendSubscribe1").style.backgroundColor = 'black';
                document.getElementById("btnsendSubscribe1").style.borderColor = "black";
                document.getElementById("btnsendSubscribe1").disabled = true;
                document.getElementById("btnsendSubscribe1").style.boxShadow = "0 0.125rem 0.25rem 0 rgb(0,0,0)";



                var UserInfo = {};
                UserInfo.email = email;


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Subscribe", "Home")',
                    data: JSON.stringify(UserInfo),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        if (result.status == "1") {
                            $("#SuccessAlert12").show();
                            $("#FailureAlert12").hide();
                        }
                        else {
                            $("#SuccessAlert12").hide();
                            $("#FailureAlert12").show();
                        }


                        document.getElementById("btnsendSubscribe1").innerHTML = "Subscribe";
                        document.getElementById("btnsendSubscribe1").style.backgroundColor = '#47b2e4';
                        document.getElementById("btnsendSubscribe1").style.borderColor = "#47b2e4";

                        document.getElementById("btnsendSubscribe1").disabled = false;
                        $("#subs_email1").val("");
                    }
                });
            }
        }
    </script>
</body>




</html>