@model List<CrowdFunding_nastya.Models.tblBlog>


<!--  Banner START -->
<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">blog</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            blog
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>

<!--  Banner END -->
<!--  Blog START -->

<div class="blog global__py pt-0">
    <div class="container p-sm-0">
        <div class="blog__grid">
            @foreach (var item in Model)
            {
                <div class="card blog__card text-start m-0" data-aos="fade-down" data-aos-duration="1000">
                    <a href="@Url.Action("blog_detail","Home" , new {id = item.BlogId})">
                        <img class="img-fluid w-100" src="@item.ThumbnailImage" alt="image" style="width:200px; height:200px">
                    </a>
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="">
                                <span class="blog__card-span">@item.BlogTitle</span>
                            </div>
                            <hr class="blog__card-line">
                            <div class="">
                                <span class="blog__card-span">@item.PublishDate</span>
                            </div>
                        </div>
                        <div class="">
                            <a href="@Url.Action("blog_detail","Home")" class="blog__title">
                                @item.BlogTitle
                            </a>
                            <p class="global__desc blog__desc">
                               @Html.Raw(item.BlogDescription)
                            </p>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="col-12 text-center">
            <button class="blog__btn">see more</button>
        </div>
    </div>
</div>

<!--  Blog END -->