@using CrowdFunding_nastya.Models;
@{
    List<tblProject> projectList = (List<tblProject>)ViewBag.project;
}

<head>
    <script src="~/assets/assets/js/aos.js"></script>
</head>
<header class="hero__four">
    <div class="container p-sm-0">
        <div class="hero__four-layer d-none d-lg-block"></div>
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-8 position-relative">
                <div class="d-flex align-items-center">
                    <img class="hero__two-i" src="~/assets/assets/img/8start.svg" alt="icon">
                    <h4 class="global__rise">
                        Channel Your Support to Empower Businesses
                    </h4>
                </div>
                <h1 class="global__title global__title-dark">Fuel Business Transformation through Crowdfunding</h1>
                <p class="global__desc">
                    Our Crowdfunding Platform Empowers Businesses by Collecting Donations from Family, Friends, and Supporters.

                </p>
                <div class="hero__four-element">
                    <a href="@Url.Action("sign_up","Account")" class="global__btn">
                        Get Started
                        <i class="fa fa-arrow-up global__btn-arrow"></i>
                    </a>
                </div>
            </div>
            <div class="col-4 my-auto my-xl-0 d-none d-lg-block">
                <div class="d-none d-lg-flex justify-content-end">
                    <div class="hero__four-image">
                        <img class="img-fluid" src="~/assets/assets/img/header-img-4.png" alt="image">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Service START  -->
</header>
            <div class="service service__bg2 global__py">
                <div class="container p-sm-0">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-6 text-center m-auto" data-aos="fade-down" data-aos-duration="1000">
                            <h2 class="global__heading">
                                Create Your Business Shower in 3 Simple Steps:
                            </h2>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 col-xl-4 pe-md-3" data-aos="fade-left" data-aos-duration="1000">
                            <div class="service__card global__white">
                                <div class="global__icon global__icon-white service__card-icon2">
                                    1
                                </div>
                                <div class="">
                                    <h4 class="service__card-heading global__heading">Create Your Account</h4>
                                    <p class="service__card-desc global__desc mt-3 mb-0">
                                        Begin by providing your name, location, and business industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 pe-md-3" data-aos="fade-left" data-aos-duration="1000">
                            <div class="service__card global__white">
                                <div class="global__icon global__icon-white service__card-icon2">
                                    2
                                </div>
                                <div class="">
                                    <h4 class="service__card-heading global__heading">Describe Your Business</h4>
                                    <p class="service__card-desc global__desc mt-3 mb-0">
                                        Receive guidance on how to articulate your business details during the registration process.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 ps-md-3" data-aos="fade-right" data-aos-duration="1000">
                            <div class="service__card global__white">
                                <div class="global__icon global__icon-white service__card-icon2">
                                    3
                                </div>
                                <div class="">
                                    <h4 class="service__card-heading global__heading">
                                        Share with Friends and Family
                                    </h4>
                                    <p class="service__card-desc global__desc mt-3 mb-0">
                                        Publish your campaign, and your loved ones will gladly support turning your dreams into reality.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12 col-xl-12 text-center mt-5">
                            <a href="@Url.Action("sign_up","Account")" class="global__btn">
                                Start a
                                Business Shower
                                <i class="fa fa-arrow-up global__btn-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- Service END  --> <!--  Cases START  -->

                                                <div class="cases global__py">
                                                    <div class="container p-sm-0">
                                                        <div class="row">
                                                            <div class="col-12 col-md-9 col-lg-6 text-center m-auto" data-aos="fade-down" data-aos-duration="1000">

                                                                <h2 class="global__heading">
                                                                    Business showers that are raising
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="cases__slider">
                                                                @foreach (var item in projectList)
                                                                {
                                                                    <div class="card cases__card">
                                                                        <div class="cases__card-img">
                                                                            <a href="@Url.Action("case_detail","Home", new { id=item.ProjectId})">
                                                                                <img class="img-fluid w-100" src="@item.ImagePath" alt="image">
                                                                            </a>
                                                                            <h4 class="cases__card-tag">@(item.tblCategory != null? item.tblCategory.CategoryName: "")</h4>
                                                                        </div>
                                                                        <div class="card-body px-4">
                                                                            <div class="d-flex">
                                                                                <img class="cases__card-i" src="~/assets/assets/img/location.svg" alt="icon">
                                                                                <span class="cases__card-location ps-1">
                                                                                   @item.Located
                                                                                </span>
                                                                            </div>
                                                                            <div class="">
                                                                                <a href="@Url.Action("case_detail","Home",new { id=item.ProjectId})" class="cases__card-title">
                                                                                    @item.Title
                                                                                </a>
                                                                            </div>
                                                                            <div class="cases__card-range">
                                                                                <p class="global__desc m-0">Founded: 0%</p>
                                                                                <div class="progress cases__card-progress">
                                                                                    <div class="progress-bar cases__card-progress--bar" role="progressbar"
                                                                                         style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cases__card-range--bottom">
                                                                                    <div class="d-flex align-items-center cases__card-range--bottom---m gap-2">
                                                                                        <img class="cases__card-range--dollar" src="~/assets/assets/img/box.svg" alt="icon">
                                                                                        <span class="cases__card-range--price">
                                                                                            Rasied: 
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center gap-2">
                                                                                        <img class="cases__card-range--dollar" src="~/assets/assets/img/dollar-s.svg"
                                                                                             alt="icon">
                                                                                        <span class="cases__card-range--price">goal: $ @item.Value</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <!--  Cases END  --> <!-- About START  -->

                                                                                    <div class="about global__py pt-0">
                                                                                        <div class="about__layer d-none d-lg-block"></div>
                                                                                        <div class="container p-sm-0">
                                                                                            <div class="row align-items-center">
                                                                                                <div class="col-6 my-auto my-xl-0" data-aos="fade-right" data-aos-duration="1000">
                                                                                                    <div class="d-none d-lg-flex gap-4">
                                                                                                        <div class="about__image2">
                                                                                                            <img class="img-fluid" src="~/assets/assets/img/add-3.png" alt="image">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-12 col-md-9 col-lg-6 about__ele" data-aos="fade-left" data-aos-duration="1000">
                                                                                                    <h2 class="about__heading global__heading">
                                                                                                        We are the Empowering, Free Fundraising Platform
                                                                                                    </h2>
                                                                                                    <p class="about__desc global__desc mb-3">
                                                                                                        Proven, versatile crowdfunding technology for successful individual and organizational
                                                                                                        fundraising.
                                                                                                    </p>

                                                                                                    <div class="">
                                                                                                        <ul class="about__list">
                                                                                                            <li>
                                                                                                                <img class="cases__card-range--dollar p-1 me-2" src="~/assets/assets/img/check.svg" alt="icon">
                                                                                                                <span class="global__desc m-0">
                                                                                                                    Launch Your Campaign
                                                                                                                </span>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <img class="cases__card-range--dollar p-1 me-2" src="~/assets/assets/img/check.svg" alt="icon">
                                                                                                                <span class="global__desc m-0">
                                                                                                                    Spread the Word Among Friends & Family
                                                                                                                </span>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <img class="cases__card-range--dollar p-1 me-2" src="~/assets/assets/img/check.svg" alt="icon">
                                                                                                                <span class="global__desc m-0">
                                                                                                                    Manage Donation
                                                                                                                </span>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div> <!-- About END  -->