
@{
    ViewBag.Title = "add";
    Layout = "~/Views/Shared/_Admin.cshtml";
    string Success = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
    string Error = @ViewBag.Error;
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Change Password</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Security</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-6">
        <div class="card ">
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="SuccessAlert" style="display:none;">
                <strong> Success! </strong> @Success
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert" id="UpdateAlert" style="display:none;">
                <strong> Success! </strong> @Update
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="DeleteAlert" style="display:none;">
                <strong> Success! </strong> @Delete
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorAlert" style="display:none;">
                <strong> Error! </strong> @Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">

                    <li class="nav-item active" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab" aria-selected="false" tabindex="-1">
                            <i class="far fa-user"></i> Change Password
                        </a>
                    </li>

                </ul>
            </div>
            <div class="card-body p-4">
                <div class="tab-content">

                    <div class="tab-pane active" id="changePassword" role="tabpanel">
                        <span style="color:red;display:none;" id="fademsg">@ViewBag.error</span>
                        @using (Html.BeginForm("changepassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {@Html.AntiForgeryToken()
                        <form action="javascript:void(0);">
                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 mb-2">
                                            <div>
                                                <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                                <input type="text" class="form-control" name="id" value="@ViewBag.UserId" hidden>
                                                <input type="password" class="form-control" id="PasswordEmail" name="Email" value="@ViewBag.Email" hidden>
                                                <input type="password" class="form-control" onchange="CheckPassword()" id="OldPassword" name="OldPassword" placeholder="Enter current password" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12 mb-2">
                                            <div>
                                                <label for="newpasswordInput" class="form-label">New Password*</label>
                                                <input type="password" class="form-control" id="pass" name="NewPassword" placeholder="Enter new password" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12 mb-2">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Confirm Password*</label>
                                                <input type="password" class="form-control" id="comfpass" name="ConfirmPassword" placeholder="Enter Confirm password" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                </div>
                                @*<div class="col-lg-12">
                                <div class="mb-3">
                                    <a href="javascript:void(0);" class="link-primary text-decoration-underline">Forgot Password ?</a>
                                </div>
                            </div>*@
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-info" id="SaveChanges">Change Password</button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    }
                    </div>
                    <!--end tab-pane-->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/admin/js/jquery-3.2.1.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
    function CheckPassword() {
        let Email = $("#PasswordEmail").val();
        let Password = $("#OldPassword").val();
        var model = {
            Email: Email,
            OldPassword: Password
        };
        console.log(model);
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckPassword", "User")",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                console.log(r);
                if (r == 1) {
                    $("#SaveChanges").attr("disabled", false);
                    $("#fademsg").fadeOut();
                }
                else {
                    $("#fademsg").text("Old password is not Correct!");
                    $("#fademsg").fadeIn();
                    $("#SaveChanges").attr("disabled", true);
                }

            }
        });
    }

    $("#comfpass,#pass").change(function () {
        console.log($(this).val());
        var New = $(this).val();
        //var New = $("#pass").val();
        if (New) {
            if ($("#pass").val() != $("#comfpass").val()) {
                $("#fademsg").text("New password and confirm password not matched.");
                $("#fademsg").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#fademsg").fadeOut();
            }
        }
    });
    $(document).ready(function () {
    if ("@Success" != "") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
         }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
           $('#UpdateAlert').fadeIn();
           $('#UpdateAlert').fadeOut(10000);
         }
        else {
             $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(10000);
         }
        else {
            $('#DeleteAlert').fadeOut();
        }
        if ("@Error" != "") {
            $('#ErrorAlert').fadeIn();
            $('#ErrorAlert').fadeOut(10000);
         }
        else {
            $('#ErrorAlert').fadeOut();
        }
        $(".ul li a").removeClass("active");
        $('#changepassword').addClass('active');


    });
</script>