<!-- SignIn START -->
@{
    string Success = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
    string Error = @ViewBag.Error;
}
<div class="sign mt-4 mt-sm-3 mt-lg-0 mb-5">
    <div class="sign__layer">
        <div class="container-fluid p-4">
            
            <div class="d-md-flex justify-content-between position-relative h-100">

                <!--<div class="col-12 col-lg-6 d-none d-lg-block">
                <div class="sign__slider">
                    <div class="sign__slider-item">
                        <div class="card sign__card h-100">
                            <img class="img-fluid h-100 sign__card-img" src="~/assets/assets/img/signIn.png"
                                 alt="image">-->
                @*<div class="card-img-overlay sign__card-overlay">
                        <div class="position-relative">
                            <h5 class="global__heading global__heading-w sign__card-title">
                                Forget Password
                            </h5>
                        </div>
                    </div>*@
                <!--</div>
                        </div>

                    </div>
                </div>-->
                <div class="col-md-4  m-auto">
                    <div class="sign__form">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" id="SuccessAlert" style="display:none;">
                            <strong> Success! </strong> @Success
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert" id="UpdateAlert" style="display:none;">
                            <strong> Success! </strong> @Update
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="DeleteAlert" style="display:none;">
                            <strong> Success! </strong> @Delete
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorAlert" style="display:none;">
                            <strong> Error! </strong> @Error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        @using (Html.BeginForm("forget_password", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {@Html.AntiForgeryToken()
                        <form action="#" method="POST" class="">
                            <h4 class="sign__form-heading">Forget password</h4>
                            <div class="">
                                <div class="sign__form-mb">
                                    <label class="sign__form-label" for="emailInp" id="email">
                                        Email <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control sign__form-input" id="emailInp" type="email" name="Email"
                                           placeholder="Enter your email">
                                    <span class="sign__text sign__text-email text-danger d-none">Email must be valid</span>
                                    <span class="sign__text sign__text-email--required text-danger d-none">
                                        Email is
                                        required
                                    </span>
                                </div>
                                <div class="col-10 col-sm-12 m-auto">
                                    <div class="">
                                        <input class="sign__btn sign__btn-in form-control" type="submit"
                                               value="Submit">
                                    </div>

                                </div>
                                <div class="mt-4">
                                    <p class="sign__text text-center">
                                        Remember password? <a class="sign__form-link" href="@Url.Action("sign_in", "Account")">Sign In</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    }
                    </div>
                    @*<div class="">
                            <img class="sign__card-element d-none d-xxl-block" src="~/assets/assets/img/element-4.png"
                                 alt="image">
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/admin/js/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        if ("@Success" != "") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
         }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
           $('#UpdateAlert').fadeIn();
           $('#UpdateAlert').fadeOut(10000);
         }
        else {
             $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(10000);
         }
        else {
            $('#DeleteAlert').fadeOut();
        }
        if ("@Error" != "") {
            $('#ErrorAlert').fadeIn();
            $('#ErrorAlert').fadeOut(10000);
         }
        else {
            $('#ErrorAlert').fadeOut();
        }


    });
</script>
<!-- SignIn END -->
