@using CrowdFunding_nastya.Models;
@model CrowdFunding_nastya.Models.tblSetting
@{
    ViewBag.Title = "add";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Settings</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Security</a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-9">
        <div class="card ">
            @if (ViewBag.message != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="LinkCopy">
                    @ViewBag.message
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            }
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab" aria-selected="false" tabindex="-1">
                            <i class="fas fa-home"></i>  Paypal
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab" aria-selected="false" tabindex="-1">
                            <i class="far fa-user"></i> Email
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#feemanagement" role="tab" aria-selected="false" tabindex="-1">
                            <i class="far fa-user"></i> Fee Management
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body p-4">
                <form action="@Url.Action("Index", "Setting")" method="post">
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">

                            <div class="row">
                                <input type="text" class="form-control" id="SettingId" name="SettingId" value="@Model.SettingId" hidden>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label  class="form-label">Client ID</label>
                                        <input type="text" class="form-control" id="clientId" name="clientId" placeholder="Enter your client ID" value="@Model.clientId" required>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label  class="form-label">Secret Key</label>
                                        <input type="text" class="form-control" id="clientSecret" name="clientSecret" placeholder="Enter your secret key" value="@Model.clientSecret" required>
                                    </div>
                                </div>

                                <!--end col-->
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label  class="form-label">Account Type</label>
                                        <select class="form-select" data-choices data-choices-search-false id="choices-status-input" name="AccountType">
                                            @if (Model.AccountType == "Sandbox")
                                            {
                                                <option value="Sandbox" selected>Sandbox</option>
                                                <option value="Live">Live</option>
                                            }
                                            else
                                            {
                                                <option value="Sandbox">Sandbox</option>
                                                <option value="Live" selected>Live</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <!--end col-->
                                <!--end col-->
                            </div>
                            <!--end row-->

                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="changePassword" role="tabpanel">

                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div class="row">

                                        <!--end col-->
                                        <div class="col-lg-4 mb-2">
                                            <div>
                                                <label  class="form-label">Email</label>
                                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email" value="@Model.Email" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 mb-2">
                                            <div>
                                                <label  class="form-label">Port</label>
                                                <input type="text" class="form-control" id="Port" name="Port" placeholder="Port" value="@Model.Port" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <div>
                                                <label  class="form-label">Smtp</label>
                                                <input type="text" class="form-control" id="SMTP" name="SMTP" placeholder="smtp" value="@Model.SMTP" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 mb-2">
                                            <div>
                                                <label  class="form-label">Enable ssl</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="isActive" name="isActive" value="true" checked="@Model.isActive">
                                                    <label class="form-check-label" for="isActive">
                                                        Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <div>
                                                <label  class="form-label">Admin Email</label>
                                                <input type="text" class="form-control" id="AdminEmail" name="AdminEmail" placeholder="Admin Email" value="@Model.AdminEmail">
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                </div>


                            </div>
                            <!--end row-->


                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="feemanagement" role="tabpanel">

                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div class="row">

                                        <!--end col-->
                                        <div class="col-lg-3 mb-2">
                                            <div>
                                                <label  class="form-label">Fee Type</label>
                                                <select class="form-select" data-choices data-choices-search-false id="choices-status-input" name="Feetype" required>
                                                    @if (Model.Feetype == "Percentage")
                                                    {
                                                        <option value="Percentage" selected>Percentage</option>
                                                        <option value="Fixed">Fixed</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Percentage">Percentage</option>
                                                        <option value="Fixed" selected>Fixed</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 mb-2">
                                            <div>
                                                <label  class="form-label">Amount ($)</label>
                                                <input type="text" class="form-control" id="FeeAmount" name="FeeAmount" placeholder="Amount" value="@Model.FeeAmount" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <div>
                                                <label  class="form-label">Additional Cost ($)</label>
                                                <input type="text" class="form-control" id="AdditionalCost" name="AdditionalCost" placeholder="Additional Cost" value="@Model.AdditionalCost" required>
                                            </div>
                                        </div>

                                        <!--end col-->
                                    </div>
                                </div>


                            </div>
                            <!--end row-->


                        </div>
                        <div class="col-lg-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-soft-info" onclick="goBack()">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/admin/js/jquery-3.2.1.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
    $(document).ready(function () {

        $(".ul li a").removeClass("active");
        $('#settings').addClass('active');


    });
</script>